div.div-imagem-carrinho {
    width: 18em;
    height: 15em;
    background-color: #222222;
    display: flex;
    justify-content: center;
    margin: 0;
}

.quantidade-carrinho, .valor-carrinho {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    padding-top: 1.8em !important;
}

.row-produto-carrinho {
    margin-bottom: 2em;
}

.header-tab-carrinho {
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

#tab-carrinho {
    height: justify-content;
    max-height: 50vh;
}

.nome-produto-carrinho {
    padding: 1em 0 0 1em;
}

.arrow-btn, .trash-btn {
    border: none;
}

.arrow-btn:hover, .trash-btn:hover {
    transform: scale(1.2);
}

.trash-btn {
    margin-top: 1.5em;
}

.hr-row-carrinho {
    margin-top: 3em;
}