div.div-imagem-carrinho {
    width: 18em;
    height: 15em;
    background-color: #222222;
    display: flex;
    justify-content: center;
    margin: 0;
}

.row-produto-carrinho {
    margin-bottom: 0 !important;
    margin-bottom: 2em;
}

.header-tab-carrinho {
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

#tab-carrinho {
    height: justify-content;
    max-height: 60vh;
}

.arrow-btn, .trash-btn {
    border: none;
}

.arrow-btn:hover, .trash-btn:hover {
    transform: scale(1.2);
}
