.list-group-item.list-group-item-action.active {
    background-color: #198754 !important;
    border-color: #198754 !important;
}

.list-group-item.list-group-item-action.active:focus {
    background-color: #198754 !important;
}