.modal-header {
    border-bottom: none !important;
    padding-top: 30px !important;
    padding-bottom: 0 !important;
}

.campo-modal {
    font-size: 1.2em;
    box-shadow: none !important;
}

.campo-modal:focus {
    border-color: #198754 !important;
}

.link-modal {
    margin-top: 0.6em;
}

.btn-sexo {
    width: 100%;
}

.form-check-input {
    box-shadow: none !important;
}

.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}

.span-erro {
    display: none;
    padding: 0 12px;
    color: #e20000;
}

.input-erro{
    border-color: #e20000;

}

.input-erro:focus{
    border-color: #ff0000 !important;
}

#modal-sessao-expirada {
    top: 5em;
}

#modal-cadastrado {
    top: 5em;
}